@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&family=Work+Sans:wght@300;400;500;600;700&display=swap");
.footer {
  display: flex;
  flex-direction: column;
  padding-bottom: 5vw;
}

.footer-line {
  height: .01vw;
  width: 100%;
  background-color: black;
  opacity: .5;
}

.footer-inner {
  display: flex;
  flex-direction: unset;
  justify-content: space-between;
  align-items: center;
  padding: 0 3vw;
  margin-top: 5vw;
}

.footer-inner_block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: unset;
  width: 23%;
  height: 7vw;
}

.footer-inner_block p {
  letter-spacing: .1vw;
}

.footer-inner_block:first-child, .footer-inner_block:nth-child(2) {
  width: 16%;
}

.footer-inner_block:first-child p, .footer-inner_block:nth-child(2) p {
  letter-spacing: .1vw;
}

.footer-inner_block:nth-child(3) {
  align-items: center;
  width: 25%;
  margin-right: 5vw;
}

.footer-inner_block:nth-child(3) p {
  font-family: "Work Sans", sans-serif;
  font-size: unset;
  font-weight: 700;
  color: #b671db;
  text-transform: uppercase;
  letter-spacing: 0.2vw;
}

.footer-inner_block:last-child span {
  display: flex;
  flex-direction: unset;
  justify-content: space-between;
  align-items: center;
}

.footer-inner_block:last-child span i {
  font-size: 1vw;
}

.footer-inner_block p {
  font-family: "Oswald", sans-serif;
  font-size: 1vw;
  font-weight: 500;
  color: black;
  text-transform: uppercase;
  letter-spacing: unset;
}

.footer-icons {
  display: flex;
  flex-direction: unset;
  justify-content: space-between;
  align-items: center;
  width: 15vw;
  height: 6vw;
}

.footer-icons .fab {
  font-size: 1.5vw;
  cursor: pointer;
  color: black;
  transition: color 0.3s ease;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -ms-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
}

.footer-icons .fab:hover {
  color: #b671db;
  transition: color 0.3s ease;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -ms-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
}

.footer-icons .fa-instagram {
  font-size: 1.8vw;
}
