@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&family=Work+Sans:wght@300;400;500;600;700&display=swap");
.products {
  display: flex;
  flex-direction: unset;
  justify-content: unset;
  align-items: center;
  padding-bottom: 2vw;
}

.products-inner {
  display: flex;
  flex-direction: row;
  justify-content: unset;
  align-items: center;
  width: 100%;
  height: inherit;
  padding: 0 3vw;
  padding-top: 4vw;
}

.products-inner_mainblock {
  display: flex;
  flex-direction: column;
  justify-content: unset;
  align-items: unset;
}

.products-inner_mainblock:first-child {
  width: 30%;
}

.products-inner_mainblock:last-child {
  width: 70%;
  padding-right: .5vw;
}

.products-inner-mainblock_up {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: unset;
  padding-top: .5vw;
}

.products-inner-mainblock-up_function {
  display: flex;
  flex-direction: unset;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  height: 2vh;
  text-transform: uppercase;
  position: relative;
}

.products-inner-mainblock-up_function .fa-bars {
  font-size: 1.5vw;
  padding-right: 1vw;
  cursor: pointer;
}

.products-inner-mainblock-up_function .dots {
  cursor: pointer;
}

.products-inner-mainblock-up_function:first-child {
  justify-content: left;
  width: 15vw;
}

.products-inner-mainblock-up_function:first-child span {
  font-family: "Oswald", sans-serif;
  font-size: 1vw;
  opacity: 1;
  padding-right: .5vw;
}

.products-inner-mainblock-up_function:first-child span:first-child {
  padding-right: 1vw;
}

.products-inner-mainblock-up_function:first-child span:last-child {
  padding-right: 1.5vw;
}

.products-inner-mainblock-up_function:first-child span:hover {
  opacity: 1;
}

.products-inner-mainblock-up_function:first-child i {
  font-size: 1vw;
  padding-top: .2vw;
  padding-right: .5vw;
  padding-left: .4vw;
  transition: transform 0.5s ease;
  -webkit-transition: transform 0.5s ease;
  -moz-transition: transform 0.5s ease;
  -ms-transition: transform 0.5s ease;
  -o-transition: transform 0.5s ease;
}

.products-inner-mainblock-up_function:first-child i:hover ~ .opacity-text {
  opacity: 1;
}

.products-inner-mainblock_items {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: unset;
  place-content: space-between;
}

.products-inner-mainblock-items_block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: unset;
  width: 16vw;
  padding-top: 3vw;
}

.products-inner-mainblock-items_img {
  display: flex;
  flex-direction: unset;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 14vw;
  background: #f4f6f8;
}

.products-inner-mainblock-items_img img {
  width: auto;
  height: 90%;
}

.products-inner-mainblock-items_name {
  font-family: "Oswald", sans-serif;
  font-size: 1vw;
  font-weight: 700;
  color: black;
  text-transform: uppercase;
  letter-spacing: unset;
}

.products-inner-mainblock-items_text {
  opacity: .5;
  font-family: "Work Sans", sans-serif;
  font-size: 1vw;
  padding-top: .2vh;
}

.products-inner-mainblock-items_subblock {
  display: flex;
  flex-direction: unset;
  justify-content: space-between;
  align-items: center;
  padding-top: .6vw;
}

.products-inner-mainblock-items_subblock p {
  font-family: "Oswald", sans-serif;
  font-size: 1vw;
  font-weight: 700;
  color: #9878cf;
  text-transform: unset;
  letter-spacing: unset;
}

.products-inner-mainblock-items_subblock span {
  display: flex;
  flex-direction: unset;
  justify-content: space-between;
  align-items: center;
}

.products-inner-mainblock-pages_inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: inherit;
  height: inherit;
}

.products-inner-mainblock_pages {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 18vw;
  margin: 0 auto;
  margin-top: 4vw;
  padding: 0 3vw;
  cursor: pointer;
  position: relative;
}

.products-inner-mainblock_pages .fas {
  user-select: none;
  position: absolute;
  font-size: 1vw;
}

.products-inner-mainblock_pages .fas:first-of-type {
  left: 0;
}

.products-inner-mainblock_pages .fas:last-of-type {
  right: 0;
}

.products-inner-mainblock_pages p {
  opacity: .5;
  font-size: 1vw;
  font-family: "Oswald", sans-serif;
  user-select: none;
}

.products-inner-mainblock_pages p:hover {
  opacity: 1;
}

.products-inner-mainblock_pages .opacity-text {
  opacity: 1;
}

.products_description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: unset;
}

.products-title {
  font-family: "Oswald", sans-serif;
  font-size: 3.3vw;
  font-weight: 700;
  color: black;
  text-transform: uppercase;
  letter-spacing: 0.1vw;
  line-height: 1.2;
}

.products-text {
  font-family: "Oswald", sans-serif;
  font-size: 1.5vw;
  font-weight: 500;
  color: black;
  text-transform: uppercase;
  letter-spacing: unset;
  cursor: pointer;
  width: fit-content;
  opacity: .5;
  z-index: 100;
}

.products-text ~ .products-text_show {
  height: 17.5vw !important;
  transition: height 0.5s ease;
  -webkit-transition: height 0.5s ease;
  -moz-transition: height 0.5s ease;
  -ms-transition: height 0.5s ease;
  -o-transition: height 0.5s ease;
}

.products-text:hover {
  opacity: 1;
}

.products-text_block {
  display: flex;
  flex-direction: column;
  justify-content: unset;
  align-items: flex-start;
  padding: 0 1vw;
  width: 7vw;
  height: 0px;
  overflow: hidden;
  transition: height 0.5s ease;
  -webkit-transition: height 0.5s ease;
  -moz-transition: height 0.5s ease;
  -ms-transition: height 0.5s ease;
  -o-transition: height 0.5s ease;
}

.products-text_block div {
  display: flex;
  flex-direction: unset;
  justify-content: unset;
  align-items: center;
}

.products-text_block div:nth-of-type(2) span {
  padding: 10%;
}

.products-text_block p {
  font-family: "Oswald", sans-serif;
  font-size: 1vw;
  font-weight: unset;
  color: black;
  text-transform: capitalize;
  letter-spacing: unset;
  line-height: 1.5;
  cursor: pointer;
  opacity: .5;
  padding: 1vw 0;
}

.products-text_block p:hover {
  opacity: 1;
}

.products-description_inner {
  margin-bottom: 3vw;
}

.products-description_inner:nth-of-type(1) {
  margin-top: 3vw;
}

.products-description_inner:last-child {
  margin-bottom: 0;
}

.products-description_inner:last-of-type > .products-text_show {
  height: 14vw !important;
  transition: height 0.5s ease;
  -webkit-transition: height 0.5s ease;
  -moz-transition: height 0.5s ease;
  -ms-transition: height 0.5s ease;
  -o-transition: height 0.5s ease;
}

.products-price {
  position: absolute;
  top: 0;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
}

.products-price:nth-child(2) {
  right: 0;
}

.products-price_line {
  display: flex;
  flex-direction: unset;
  justify-content: unset;
  align-items: center;
  width: 12vw;
  height: 1.5vw;
  position: relative;
}

.products-price_line:nth-of-type(1) {
  margin-top: 1vw;
}

.products-price_line:nth-of-type(2) {
  width: 10.5vw;
  margin-left: .8vw;
}

.products-price_set {
  position: absolute;
  background: #9878cf;
  width: 100%;
  height: 10%;
  cursor: pointer;
  z-index: 100;
}

.products-price_circle {
  position: absolute;
  padding: .3vw;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background: #9878cf;
  cursor: pointer;
}

.products-price_circle:nth-last-child(2) {
  left: 100%;
}

.products-hidden-sort_block {
  position: absolute;
  height: 0;
  top: -1.5vw;
  right: 0;
  overflow: hidden;
  transition: height 0.5s ease;
  -webkit-transition: height 0.5s ease;
  -moz-transition: height 0.5s ease;
  -ms-transition: height 0.5s ease;
  -o-transition: height 0.5s ease;
}

.products-hidden-sort_block p {
  font-family: "Oswald", sans-serif;
  font-size: 1vw;
  font-weight: 700;
  opacity: .5;
  cursor: pointer;
}

.products-hidden-sort_block p:hover {
  opacity: 1;
}

.opacity-text {
  opacity: 1 !important;
  transition: opacity 0.5s ease;
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -ms-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
}

.fa-star {
  color: red;
}

.dots {
  background: url("../images/dots.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 1.1vw;
  height: 1.1vw;
}

.page-dots {
  display: flex;
  flex-direction: unset;
  justify-content: space-between;
  align-items: center;
  opacity: .5;
  font-weight: 700;
  font-size: 1.5vw;
  cursor: unset;
}

.rotate {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transition: transform 0.5s ease;
  -webkit-transition: transform 0.5s ease;
  -moz-transition: transform 0.5s ease;
  -ms-transition: transform 0.5s ease;
  -o-transition: transform 0.5s ease;
}

.display {
  height: 4.5vw;
  transition: height 0.5s ease;
  -webkit-transition: height 0.5s ease;
  -moz-transition: height 0.5s ease;
  -ms-transition: height 0.5s ease;
  -o-transition: height 0.5s ease;
}

.products-hover-sort_block {
  position: absolute;
  width: 5vw;
  height: 2vw;
  right: 40%;
  cursor: pointer;
  z-index: 100;
}
