@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&family=Work+Sans:wght@300;400;500;600;700&display=swap");
.service {
  display: flex;
  flex-direction: column;
  justify-content: unset;
  align-items: unset;
  position: relative;
  height: 61vw;
  padding-top: 6vw;
}

.service-main {
  height: 53vw;
}

.service-inner {
  display: flex;
  flex-direction: unset;
  justify-content: left;
  align-items: center;
  height: inherit;
  padding: 0 3vw;
}

.service-inner_block {
  display: flex;
  flex-direction: column;
  justify-content: unset;
  align-items: unset;
  padding-top: 3vw;
  height: 28vw;
  width: 38.7vw;
  position: relative;
  background-color: white;
  bottom: 4.2vw;
}

.service-inner_block .features-inner-block_uppertext {
  font-size: 1.1vw;
}

.service-inner_block .features-inner-block_title {
  padding-right: 5vw;
  font-size: 3.8vw;
  font-weight: 600;
}

.service-inner_block .intro-inner-subblock_subtitle {
  color: #969696;
  font-size: 1.45vw;
}

.service-inner-block_next {
  display: flex;
  flex-direction: unset;
  justify-content: space-between;
  align-items: center;
  width: 4vw;
  position: absolute;
  right: 5%;
  top: 3%;
}

.service-inner-block_next p {
  font-family: "Oswald", sans-serif;
  font-size: 1vw;
  font-weight: unset;
  color: black;
  text-transform: uppercase;
  letter-spacing: 0.1vw;
}

.service-inner-block_next i {
  font-size: 1vw;
}

.service-inner-block_subtext {
  display: flex;
  flex-direction: unset;
  justify-content: space-between;
  align-items: center;
  width: 17.5vw;
  margin-top: 2vw;
}

.service-inner-block_subtext p {
  font-family: "Oswald", sans-serif;
  font-size: 1vw;
  font-weight: 600;
  color: black;
  text-transform: uppercase;
  letter-spacing: 0.1vw;
}

.service-inner-block_subtext i {
  font-size: 1vw;
}

.service-img {
  display: flex;
  flex-direction: unset;
  justify-content: unset;
  align-items: center;
  position: absolute;
  right: 0;
  height: 45vw;
  overflow: hidden;
}

.service-img-pos {
  width: 64.5vw;
  height: 56vw;
  position: relative;
  top: 2vw;
}
