//FONT STYLE
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&family=Work+Sans:wght@300;400;500;600;700&display=swap");
$font1: "Oswald", sans-serif;
$font2: "Work Sans", sans-serif;
//COLORS
$color1: white;
$color2: black;

$color3: #511712; //
$color4: #9878cf; // 10
$color5: #f4f6f8; // 11
$color6: #b671db; // 13
$color7: #969696; // 14

$videoDuration: #b671db;

